@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --green-color: rgb(58, 131, 56);
}
body {
    font-family: 'Fira Sans';
    display: flex;
    background-color: #8042420c;
}

.fixed-container {
    width: 40vw;
    height: 100vh;
    min-width: 300px;
    background-image: url(/images/signup-background.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    position: fixed;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.521);
    margin-top: 146px;
}

.banner img {
    height: 150px;
    margin-left: 30px;
}

.banner h1 {
    color: white;
    font-family: 'Amatic SC';
    font-size: 3.3em;
    margin-left: 50px;
    letter-spacing: .3em;
}

.left-container {
    width: 40vw;
    min-width: 300px;
}

.right-container {
    /* background-color: #8042420c;
    height: 100vh; */
    width: 60vw;
}

.dialogue {
    margin: 150px 50px 50px 50px;
    max-width: 650px;
    font-weight: 400;
    color: var(--green-color);
}

.white-background {
    color: rgb(151, 91, 91);
    background-color: rgb(255, 255, 255);
    padding: 25px 50px 0px 50px;
    box-shadow: 0px 5px 5px rgb(218, 218, 218);
}

.white-background h2 {
    margin-bottom: 20px;
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 650px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width:300px;
}

.form-input label {
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-bottom: 2px;
}

.form-input input {
    height: 30px;
}

button {
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 1em;
    margin: 40px 50px 20px 50px;
    background-color: var(--green-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(104, 104, 104);
}

p {
    margin-left: 50px;
}

a {
    margin-left: 5px;
    color: var(--green-color);
}

input {
    border: 2px solid rgb(158, 158, 158);
}

span {
    height: 0px;
}

.valid {
    border: 3px solid #328b2f;
}

.valid + span::after {
    content: url(/images/tick.png);
    display: inline;
    position: relative;
    left: 310px;
    bottom: 25px;
}

.invalid {
    border: 3px solid red;
}

.invalid + span::after {
    content: url(/images/cross.png);
    display: inline;
    position: relative;
    left: 310px;
    bottom: 25px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgb(124, 124, 124);
}

#min-char, #one-letter, #one-number {
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: 300;
}

.pass-check-red {
    color: red;
}

.pass-check-green {
    color: #2ea32a;
}

#password-confirm:disabled {
    border-color: rgb(218, 218, 218) ;
}





