* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
}

.left-container {
    width: 40vw;
    background-image: url(/images/signup-background.jpg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}

.right-container {
    background-color:rgb(240, 253, 255);
    height: 100vh;
    width: 60vw;
}